<h1>Contact Form</h1>

<form method="post" action="/contacts">
    <div>
        <label>Name:</label>
        <input name="name" type="text"/>
    </div><br>
    <div>
        <label>Email:</label>
        <input name="email" type="text"/>
    </div><br>

    <input type="submit" value="Save">


</form>