<h1>Contact Form</h1>

<form method="post" action="/contacts">
    <div>
        <label>Name:</label> 
        <input name = "name" type="text"><br><br>
        
    </div>
    <div>
        <label>Email:</label>
        <input name="email" type="text">
    </div><br><br>
    <div>
        <label>Enquiry:</label>
        <textarea name="enquiry" type="text"></textarea>
    </div><br>
    <input type="submit" value="Send Form">
</form>